<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.ualberta.t14.gametrader" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FriendsListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_friends_list"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".InventoryListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_inventory_list"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_profile"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".EditProfileActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_edit_profile"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".InventoryItemActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_inventory_item"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".EditInventoryItemActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_edit_inventory_item"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SearchPageActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_search_page"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SettingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_setting"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".TradeHistoryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_trade_history"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".TradeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_trade"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".InventoryItemPictureViewer"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_item_picture_viewer"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".GameImageAdder"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_game_image_adder"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".GameImageRemover"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_game_image_remover"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".CheatTradeActivity"
            android:label="@string/title_activity_cheat_trade" >
        </activity>
        <activity
            android:name=".CheatEditTradeActivity"
            android:label="@string/title_activity_cheat_edit_trade" >
        </activity>
    </application>

</manifest>
